.kotak-soal {
  border: 1px solid rgb(172, 172, 172);

  /* box-sizing: border-box; */
}

.panel-soal {
  /* min-width: 236px; */
  position: relative;
  max-width: 834px;
  max-height: 650px;
  /* margin: auto; */
  background: #fdfdfd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.21),
    0px 4px 4px rgba(0, 0, 0, 0.1);
  /* max-height: 300px; */
  /* padding: 10px; */
}
.nomor-soal.terisi {
  background-color: #00fb6a;
  /* color: #fff; */
}

.petunjuk-nomor-soal.terisi {
}

.bg-red {
  background-color: #e53f53;
}

.nomor-soal {
  height: 35px;
  width: 35px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 0.5px solid #989393;
}

.nomor-soal.kosong {
  background-color: #e0e0e0;
  color: #242424;
}

.container-soal {
  background: #fdfdfd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gambar-jawaban {
  max-width: 80px;
}
.controlpanel {
  display: none;
}
.buttoncontrolpanel {
  display: none;
}
.submit-tkd {
  margin-top: 16px;
}

/* .form-input-tkd label p {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #eee;
  width: 95%;
  margin-left: -10;
}

.form-input-tkd label:hover p{
  background-color: #83ffb7;
  opacity: 0.5;
}

.form-input-tkd label:hover p{
  cursor: pointer;
}

.form-input-tkd input[type='radio']:checked + label p{
  background-color: #2ecc71;
  color: #fff;
}

.form-input-tkd input[type='radio'] {
  display: none;
} */

/* RESPONSIVE MOBILE */
@media only screen and (max-width: 575px) {
  .submit-tkd {
    margin-top: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .panel-soal {
    max-width: none;
    position: relative;
    max-height: fit-content;
    transition: max-height 0.3s ease-out;
    /* padding: 10px; */
  }
  .buttoncontrolpanel {
    cursor: pointer;
    display: block;
    transition: 2s;
  }
  .controlpanel {
    display: flex;
  }
}
